  @font-face {
    font-family: AlbertSans-Light;
    src: url("/fonts/AlbertSans-Light.woff2");
    format: ("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: AlbertSans-Regular;
    src: url("/fonts/AlbertSans-Regular.woff2");
    format: ("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: AlbertSans-Medium;
    src: url("/fonts/AlbertSans-Medium.woff2");
    format: ("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: AlbertSans-SemiBold;
    src: url("/fonts/AlbertSans-SemiBold.woff2");
    format: ("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: AlbertSans-Bold;
    src: url("/fonts/AlbertSans-Bold.woff2");
    format: ("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: AlbertSans-Black;
    src: url("/fonts/AlbertSans-Black.woff2");
    format: ("woff2");
    font-display: swap;
  }